*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    background: linear-gradient(135deg, #1F2286, #090B45);
}

.input_card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #D7DBDE,#A5A6A7);
    color: #fff;
    position: absolute;
    left: 400pt;
    top: 90pt;
    padding: 40px 35px;
    border-radius: 15px;
    text-align: center;
}

.search_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_box input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 17px;
}

.search_box button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search_box button img{
    width: 16px;
}

.weather-icon{
    width: 165px;
    margin: 25px;

}

.weather h1{
    font-size: 75px;
    font-weight: 500;
}

.weather h2{
    font-size: 40px;
    font-weight: 400;
}

.weather_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 30px;
}

.weather_data{
    display: flex;
    align-items: center;
    text-align: left;
}

.weather_data img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 25px;
    margin-top: 2px;
}

/* CSS for the hamburger style dropdown menu */

h2 {
  vertical-align: center;
  text-align: center;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

a{
  color: white;
  text-decoration: none;
  font-size: 15px;
}

a:hover{
  color: orange;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 900000000000000000px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    right: 55px;
    flex-direction: column;
    width: 15%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid white;
    border-radius: 10px;
    height: 2em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}