@font-face {
    font-family: amsterdam;
    src: url(/fonts/amsterdam.ttf);
}

@font-face {
    font-family: ananda;
    src: url(/fonts/ananda.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1{
    font-family: amsterdam;
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}

p{
    font-family: ananda;
    color: white;
    text-align: center;
    font-size: 25px;
}

body{
    background: #2F3A3A;
}

span{
    width: 400px;
    text-align: justify;
}

.gallery{
    width: 1500px;
    display: flex;
    overflow-x: scroll;
}

.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

/* all the images will be in grey and when the cursor is put on any image it will become colored and enlarged */
.gallery div img{
    width: 85%;
    height: 300px;
    filter: grayscale(100%);
    transform: 0.5s;
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
}

figcaption{
    color: white;
    font-size: 12px;
    text-align: justify;
    width: 320px;
}

#backBtn, #nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.4);
}






/* CSS for the hamburger style dropdown menu */

h2 {
    vertical-align: center;
    text-align: center;
  }
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }

  a{
    color: white;
    text-decoration: none;
    font-size: 15px;
  }

  a:hover{
    color: orange;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 900000000000000000px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 80px;
      right: 55px;
      flex-direction: column;
      width: 15%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid white;
      border-radius: 10px;
      height: 2em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(15px);
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
